.carousel {
    width: 100%;
    display: flex;
    align-items: center;
    --slide-spacing: 1rem;

    .viewport {
        overflow: hidden;
        width: 90%;
        margin: 0 auto;

        .emblacontainer {
            backface-visibility: hidden;
            display: flex;
            touch-action: pan-y;
            margin-left: calc(var(--slide-spacing) * -1);

            .slide {
                min-width: 0;
                padding-left: var(--slide-spacing);

                .number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: initial;
                    background-color: #295267;
                }
            }

            .quarter {
                flex: 0 0 25%;
            }

            .third {
                flex: 0 0 33%;
            }

            .half {
                flex: 0 0 50%;
            }

            .full {
                flex: 0 0 100%;
            }
        }

    }
}