.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Alexandria", sans-serif;
    font-weight: 200;

    .alexandria {
        font-size: 92px;
    }

    .search {
        display: flex;
        width: 750px;
        input {
            width: 100%;
            border: 2px solid black;
            background-color: #e0dbd2;
            padding: 10px;
        }
        button {
            background-color: #295267;
            color: white;
            padding: 10px 20px;
            font-weight: 300;
        }
    }

    .library {
        width: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 50% 84%;
            border: 3px solid #000;
        }
        p {
            width: 100%;
            text-align: center;
            padding-top: 40px;
            font-size: 14px;
            color: black;
            font-weight: 300;
        }
    }

    .books {
        padding-top: 30px;
        width: 750px;
        display: flex;
        flex-direction: column;
        .book {
            padding: 10px 0;
            border-top: 1px solid #295267;
            
            h2 {
                font-size: 20px;
                font-weight: 300;
            }
            a {
                color: #295267;
                text-decoration: none;
                font-weight: 300;
            }

            &:last-child {
                border-bottom: 1px solid #295267;
            }
        }
    }
    
}