.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Alexandria", sans-serif;
    font-weight: 200;

    .alexandria {
        font-size: 92px;
    }

    .search {
        display: flex;
        width: 750px;

        input {
            width: 100%;
            border: 2px solid black;
            background-color: #e0dbd2;
            padding: 10px;
        }

        button {
            background-color: #295267;
            color: white;
            padding: 10px 20px;
            font-weight: 300;
        }
    }

    .library {
        width: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 50% 84%;
            border: 3px solid #000;
        }

        p {
            width: 130%;
            text-align: center;
            padding-top: 40px;
            font-size: 14px;
            color: black;
            font-weight: 300;
        }
    }

    .loading {
        padding-top: 130px;
        width: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .loader {
            border: 4px solid #000;
            border-top: 4px solid #295267;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    .books {
        padding-top: 30px;
        width: 750px;
        display: flex;
        flex-direction: column;

        .book {
            padding: 10px 0;
            border-top: 1px solid #295267;
            overflow: hidden;
            text-overflow: ellipsis;

            h2 {
                font-size: 20px;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            a {
                color: #295267;
                text-decoration: none;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:last-child {
                border-bottom: 1px solid #295267;
            }
        }
    }

}